


.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	margin: 1.0em;
	padding: 5px;
}

.CGPageTitle {
	margin-top: 0;
	text-align: center;
}

.campgroundsContainer{
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.footerP{
	margin-top: 50px;
}

.addCampForm {
	padding: 15px;
}

.formForNew{
	width: 30%;
	margin: 0 auto;
}

.mostPopTit {
	text-align: center;
}

.deleteForm {
	display: inline;
}


.alert {
	margin-bottom: 10px;
	padding: 4px;
}

.logRegCont {
	margin: 0 auto;
	text-align: center;
	width: 30%;
}

.logRegCont input {
	width: 100%;
}
